/.idea/Advent of Code.iml
/.idea/dictionaries/Brian.xml
/.idea/csv-plugin.xml
/.idea/encodings.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_5_2021_7_51_PM__Default_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_5_2021_7_51_PM_[Default]/shelved.patch